body {
    /* background-color: #000000cf; */
    background-color: #121212;
    color: white;
    padding: 2%;
    /* font-family: cursive !important; */
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    /* font-family: monospace; */
    /* font-size: 24px; */
    font-family: Verdana;
    /* font-family: cursive; */
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #ffffff;
    margin: 0.5em 0;
    padding: 0;
}
@media (min-width: 993px) {
    .w3-modal-content {
        width: 90%;
    }
}

.w3-card {
    min-height: 100px;
}

img {
    cursor: pointer;
}

.date {
    /* color: #14fd14; */
    /* margin: 15px 0px 0px 0px; */
    /* font-size: 21px; */
    /* background-color: #2f2f2f; */
    background-color: #00b90a;
    color-scheme: dark;
}